# Exclude Obsidian's settings and plugins, but include the snippets
.obsidian/!snippets
.obsidian/*.json
!.obsidian/types.json
.obsidian/plugins

# Exclude OS settings and caches
.trash/
.DS_Store

# org/
# org-old/
.stfolder/
.stversions/
